.about{
    text-align: center;
   
    
    
}

.about h1 {
    font-size: 2em;
    margin-bottom: 1em;
}

.about p {
    padding: 0.5em;
    max-width: 500px;
    margin: 0 auto 1.5em;
    line-height: 1.4;
    text-align: justify;
}