.about{
    text-align: center;
padding: 20px;
}

.about h1 {
    font-size: 2em;
    margin-bottom: 1em;
    color: #E33D33;
    text-shadow: 1px 1px 3px #7e7e7e;
}

.about p {
    padding: 1em;
    max-width: 500px;
    margin: 0 auto 1.5em;
    line-height: 1.4;
    text-align: justify;
}

.about img{

}