* {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  

  text-align: center;
  background: rgb(159, 255, 189);
  background: radial-gradient(
    circle,
    rgba(159, 255, 189, 1) 0%,
    rgba(253, 255, 158, 1) 100%
  );
}
